<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!spinner">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="customerForm">
        <ion-input placeholder="Name" formControlName="name"></ion-input>
        <ion-input placeholder="Phone" formControlName="phone"></ion-input>
        <ion-input placeholder="Bike" formControlName="bike"></ion-input>
        <ion-input placeholder="Coins" formControlName="coins"></ion-input>
        <ion-button (click)="addCustomer()" expand="block">
          Add Customer
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
