<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item>
      <ion-segment
        (ionChange)="themeChanged($event)"
        mode="ios"
        [value]="darkMode"
      >
        <ion-segment-button value="light">
          <ion-label>Light</ion-label>
        </ion-segment-button>
        <ion-segment-button value="dark">
          <ion-label>Dark</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </ion-list>
</ion-content>
