<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/logs',customer?.uuid]">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!spinner">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text> {{customer?.name}} </ion-text>
        <ion-chip color="primary" outline="true">
          <ion-icon
            src="../../../assets/icon/coin.svg"
            color="primary"
          ></ion-icon>
          <ion-label color="primary"> {{customer.coins}} </ion-label>
        </ion-chip>
      </ion-card-title>
      <ion-card-subtitle> {{customer?.bike}} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Phone: {{customer.phone}} </ion-label>
      <ion-button
        (click)="add = true; remove = false"
        expand="block"
        color="primary"
      >
        Purchase Coins
      </ion-button>
      <ion-button
        (click)="remove = true; add = false"
        expand="block"
        color="danger"
      >
        Redeem Coins
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="add">
    <ion-card-header>
      <ion-card-title>Purchase Coins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Enter Amount</ion-label>
        <ion-input
          type="number"
          [formControl]="purchaseCoins"
          color="primary"
          clearInput="true"
        ></ion-input>
      </ion-item>
      <ion-button (click)="addCoins()" expand="block"> Purchase </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="remove">
    <ion-card-header>
      <ion-card-title>Redeem Coins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Enter Amount</ion-label>
        <ion-input
          type="number"
          [formControl]="redeemCoins"
          color="primary"
          clearInput="true"
        ></ion-input>
      </ion-item>
      <ion-button (click)="removeCoins()" expand="block"> Redeem </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
