<ion-header>
  <ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item *ngFor="let log of logs">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ log.date.toDate() | date:'mediumDate' }}</ion-label>
            <ion-label>{{ log.date.toDate() | date:'shortTime' }}</ion-label>
          </ion-col>

          <ion-col class="ion-text-end">
            <ion-label [color]='log.type?"success":"danger"'>
              {{ log.amount }}
            </ion-label>
            <ion-label>{{ log.new_balance }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
