<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar
        animated
        placeholder="Search Customers"
        type="text"
        (ionChange)="onSearchChange($event)"
        [debounce]="100"
      ></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!spinner">
  <ion-list lines="inset">
    <ion-item *ngFor="let customer of filteredList">
      <ion-label [routerLink]="['/view-customer',customer.uuid]">
        {{customer.name}}
      </ion-label>
      <ion-chip color="primary" outline="true">
        <ion-icon
          src="../../../assets/icon/coin.svg"
          color="primary"
        ></ion-icon>
        <ion-label color="primary"> {{customer.coins}} </ion-label>
      </ion-chip>
    </ion-item>

    <ion-item *ngIf="!filteredList.length">
      <ion-label>No results found</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
