<ion-header>
  <ion-toolbar>
    <ion-title> Meera Motors </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/list-customers']">
          <ion-card-header>
            <ion-card-title>{{totalCustomers}} Customers</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="people-outline"> </ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/add-customer']">
          <ion-card-header>
            <ion-card-title>Add New Customer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="person-add-outline"> </ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
